/* FONTS: 
 Import fonts used from google fonts website */

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');   
 

* {
    box-sizing: border-box;
}

h1{
    color:rgb(13, 65, 70);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center; 
    font-size: 100px;
}

body {
    margin: 0;
    padding: 0;
}

p {
    align-items: center;
    text-align: left;
    color: rgb(29, 89, 95);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-all;
    font-family: 'Assistant', sans-serif;
    font-size: 1.1rem;
}


.leader{
    text-align: left;
    color:  rgb(13, 65, 70);
    font-size: 2.2rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    font-size: 50px;
    padding: 0px;
    margin-bottom: 0px;
}

/* Solid border */
hr.solid {
    border-top: 0.9px solid #bbb;
    max-width: 750px;
  }



/* ------ START - navigation bar styling -----*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 65, 70);
    color: white;
}

.page-title {
    font-size: 1.9rem;
    margin-left: 1rem;
    margin: 0.5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
}

.navbar-links li:hover {
    background-color: rgb(17, 55, 44);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(13, 65, 70);
    border-radius: 10px;
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ------ END - navigation bar styling -----*/



.chart {
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
    align-items: center;
    justify-content: center;
}

.chart#chart1{
    min-width: 400px;
    width: max-content;
}

.vega-embed.has-actions {
    padding: 0px !important;
}

/* ------ START - cards styling -----*/
body {
    background:   rgb(21, 60, 57);
}

.container {
    display: flex;
    flex-wrap: row wrap;
    align-content: center;
    flex-direction: row;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 220px;
    overflow: auto;
    margin-bottom: 10vh;
    background-color: rgb(180, 237, 240);
}


/* unique styles per graph */


.card#chart {
    display: flex;
    flex-wrap: row wrap;
    align-content: center;
    flex-direction: row;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 220px;
    overflow: auto;
    margin-bottom: 10vh;
    background-color: rgb(180, 237, 240);
}


.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 253, 255);
    border-radius: 0px;
    margin: 30px;
    padding: 5px;
    border: #76939e solid 0px;
    align-items: center;


}

/* ------ END - cards styling -----*/


/* --- page links ---- */

    /* unvisited and visited link */
    a:link, a:visited {
        color: #FFB995;
        opacity: 1;
        text-decoration: underline;
    }

    /* mouse over link */
    a:hover {
        color: rgb(255, 210, 128);
        text-decoration: none;
    }

    /* selected link */
    a:active {
        text-decoration: underline;
    }

    /* tab selection over link */
    a:focus {
        color: rgb(255, 210, 128);
        text-decoration: none;
    }